<ion-toolbar class="headercolor">
  <div #titulo class="centratit">
    <ion-buttons slot="start">
      <ion-img class="imglogo" src="assets/img/DuocUC.svg.png"></ion-img>
    
      <ion-title class="ion-text-center">
       Sistema de Asistencia Duoc
      </ion-title>
    </ion-buttons>
  </div>
</ion-toolbar>


<ion-content class="background">  

  <div style="height: 80%; display: flex; align-items: center; justify-content:center;">
    <ion-card class="colorcard1 ion-text-center">
      <ion-card-title class="azul ion-text-center">
        <h1 class="azul">Recuperar contraseña</h1>
        <ion-label>
          <h2 class="azul">Paso 1: Ingresa tu correo</h2>
        </ion-label>
      </ion-card-title>


      <!-- Contenido del card -->
      
        <ion-card-content>
          <ion-item class="ingrdat">
            <ion-input email name="correo" label="Correo" labelPlacement="floating" type="text" [(ngModel)]="correo"></ion-input>
          </ion-item>
          <br>
          
          <ion-button class="botonduoc ion-auto" (click)="verificarCorreo()">Recuperar contraseña</ion-button>
        <br>
        <a class="azul" routerLink="" (click)="ingresar()">Iniciar sesión</a>
        </ion-card-content>

    </ion-card>
  </div>
  
</ion-content>