<ion-header>
  <ion-toolbar class="headercolor">
    <div class="centratit">
      <ion-buttons slot="start">
        <ion-img class="imglogo" src="assets/img/DuocUC.svg.png"></ion-img>
        <ion-title class="ion-text-center">
          Sistema de asistencia Duoc
        </ion-title>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <div style="height: 100%; display: flex; align-items: center; justify-content:center;">
    <ion-card class="colorcard1 ion-text-center ion-padding-vertical">

      <!-- TITULO -->
      <ion-card-title class="ion-text-center">
        <ion-label>
          <h2 class="azul">Bienvenid@</h2>
        </ion-label>
      </ion-card-title>

      <ion-item class="ingrdat">
        <ion-input  [(ngModel)]="correo" type="text" label="Correo" labelPlacement="floating"></ion-input>
      </ion-item>
      <br>
      <ion-item class="ingrdat">
        <ion-input [(ngModel)]="password" type="password" label="Contraseña" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-button class="botonduoc ion-auto" (click)="ingresar()">Ingresar</ion-button>
      
<br>
      <ion-label>
        <a class="azul" routerLink="" (click)="recuperar()">Recupera tu contraseña</a>
        
      </ion-label>
    </ion-card>
    

  </div>

</ion-content>
